/* Groups Section Style  */

.groups{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    margin-left: 24px;
}

.group_cards{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 7px 6px gray;

}